.about {
  margin: 0;
}

.about__wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  display: grid;
  grid-template-columns: auto 585px;
  padding-right: 60px;

  @include vp-1199 {
    padding: 5px 0 55px;
  }

  @include vp-767 {
    padding: 6px 15px 65px;
  }
}

.about__title {
  font-size: 35px;
  font-weight: 800;
  line-height: 35px;
  letter-spacing: 0;
  text-align: left;
  margin-bottom: 55px;
}

.about__subtitle {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0;
  text-align: left;
  margin-bottom: 18px;
}

.about__text {
  padding-top: 50px;
}

.about__text p {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0;
  text-align: left;
  margin-bottom: 28px;
}

.about__media {
  height: 474px;
  background-repeat: no-repeat;
  background-image: image-set("../img/about/about.png" 1x, "../img/about/about@2x.png" 2x);
  background-color: #ffffff;
  margin-top: 40px;
}

.about__media img {
  margin-top: 60px;
  background-position-x: center;
}
