.hero__title {
  font-size: 77px;
  font-weight: 800;
  line-height: 77px;
  letter-spacing: 0;
  text-align: left;

  @include vp-1199 {
    font-size: 56px;
    line-height: 56px;
    text-align: center;
  }

  @include vp-767 {
    font-size: 30px;
    line-height: 30px;
  }
}
