.reviews {
  margin: 0;
}

.reviews__wrapper {
  position: relative;
  padding: 42px 0 90px 120px;
  width: 100%;
  max-width: 1440px;

  @include vp-1199 {
    padding-top: 60px;
  }

  @include vp-767 {
    padding: 0 0 30px 0;
  }
}

.reviews__title {
  margin: 15px auto 25px;
  font-size: 35px;
  font-weight: 800;
  line-height: 35px;
  letter-spacing: 0;
  text-align: left;

  @include vp-1199 {
    font-size: 25px;
    line-height: 25px;
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 30px;
  }
}

.reviews__title::after {
  content: "Отзывы";
  position: absolute;
  left: 115px;
  top: 45px;
  font-size: 55px;
  font-weight: 800;
  line-height: 1;
  opacity: 0.03;

  @media screen and (max-width: 1199px) {
    font-size: 40px;
  }

  @media screen and (max-width: 767px) {
    font-size: 26px;
  }
}

.reviews__swiper {
  overflow: visible;
  z-index: 2;
}

.reviews__card {
  margin: 0 auto;
  cursor: grab;
  border: 0 solid $color-default-white;
  box-shadow: 0 0 30px 0 rgba(28, 51, 116, 0.1);
  background-color: $color-default-white;
  height: auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 285px 450px;
  max-width: 788px;

  @include vp-1199 {
    width: 560px;
  }

  @include vp-767 {
    width: 100%;
    height: 100%;
    display: block;
    padding-bottom: 15px;
  }
}

.reviews__card img {
  object-fit: cover;
  background-color: $color-default-white;
  min-width: 258px;
}

.reviews .swiper-button {
  position: absolute;
  top: -15.5%;
  width: 37px;
  height: 35px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 13px;
  background-color: #0266c1;
  fill: $color-default-white;
  z-index: 2;
  cursor: pointer;

  @include vp-1199 {
    top: 55%;
  }

  @include vp-767 {
    top: 58%;
    width: 20px;
    height: 20px;
    background-size: 10px 19px;

    &--prev {
      left: 15px;
    }

    &--next {
      right: 10%;
    }

    &:hover,
    &:focus {
      background-size: 10px 10px;
    }
  }

  &-prev {
    left: 85%;
    transform: translate(0, -10%);
    background-image: url("../img/sprite/arrow-left.svg");
    fill: $color-default-white;

    &:hover,
    &:focus {
      background-image: url("../img/sprite/arrow-left-hover.svg");
      background-size: 37px 35px;
      background-color: $color-default-white;
    }

    &:active {
      background-image: url("../img/sprite/arrow-left-active.svg");
      background-size: 37px 35px;
      background-color: #1c3374;
    }
  }

  &-next {
    right: 9%;
    transform: translate(0, -10%);
    background-image: url("../img/sprite/arrow-right.svg");
    fill: $color-default-white;

    &:hover,
    &:focus {
      background-image: url("../img/sprite/arrow-right-hover.svg");
      background-size: 37px 35px;
      background-color: $color-default-white;
    }

    &:active {
      background-image: url("../img/sprite/arrow-right-active.svg");
      background-size: 37px 35px;
      background-color: #1c3374;
      fill: #ffffff;
    }
  }
}

.reviews__info {
  display: grid;
  grid-template-rows: auto 42px;
  height: 250px;
  justify-content: space-around;
}

.reviews__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0;
  text-align: left;
  margin: 0 0 0 3px;
}

.reviews__autor p {
  font-size: 13px;
  font-weight: 700;
  line-height: 13px;
  letter-spacing: 0;
  text-align: left;
  margin: 0 auto;
}

.reviews__autor span {
  font-size: 12px;
  font-weight: 300;
  line-height: 12px;
  letter-spacing: 0;
  text-align: left;
}
